.main {
    font-family: 'M PLUS 1', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.check-box {
    margin: 0 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.title {
    font-size: 2em;
    font-weight: normal;
}

.paragraph {
    font-size: 0.9em;
    color: gray;
}

.m-plus-1 {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}